<!DOCTYPE html>
<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>PIGPAL - Home</title>

    <!-- Bootstrap core CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/home.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <div id = "header-title">
              PIGPAL
            </div>
          </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">HOME<span class="sr-only">(current)</span></a></li>
            <li><a href="/login">LOGIN / SIGN UP</a></li>
          </ul>
          <a href="#"><img src="/ico/favicon.ico" class="pigski"></a>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

      <!-- slide 1 -->
        <div class="item active">
          <img src="/img/coins.jpg" id="carousel-img-1" alt="First slide">

          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="sansserif">SAVING MADE SIMPLE</h1>
                <p>Always wanted to explore the world, but never had the money to do so? Use PigPal. Sign up, connect your savings account, and start spending. Every time you purchase something, you also reroute some funds to your account. It's saving made simple.</p>
                <p><a class="btn btn-lg btn-primary" href="/login" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- end slide 1 -->

        <div class="item">
          <img src="/img/planner.jpeg" id="carousel-img-2" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-md-offset-2">
                <h1>GOALS</h1>
                <p>Have trouble saving money? Whenever you make a purchase, round the amount spent up to the nearest dollar. The excess goes straight to your savings account. Set goals to keep track of your progress. Reward yourself with our built-in travel tools.<br><br><br><br></p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/img/giving.jpeg" id="carousel-img-3" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="col-md-8 col-md-offset-2">
                <h1>CHARITY</h1>
                <p>Spend your money in a meaningful way. With PigPal, you can donate your saved money to your favorite charities easily. You will make a difference in the world while saving money yourself! <br><br><br><br></p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
    </div><!-- /.carousel -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
  </body>
</html>
